:root {
    --tenant-color-50: #ecfdf5;
    --tenant-color-100: #d1fae5;
    --tenant-color-200: #a7f3d0;
    --tenant-color-300: #6ee7b7;
    --tenant-color-400: #34d399;
    --tenant-color-500: #10b981;
    --tenant-color-600: #059669;
    --tenant-color-700: #047857;
    --tenant-color-800: #065f46;
    --tenant-color-900: #064e3b;
}
